gcp_client_id=
gcp_secret=

stripe_product_price_id=
stripe_public_key=
stripe_secret_key=
stripe_webhook_secret=

POSTGRES_NAME=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=db
POSTGRES_PORT=5432

ALLOWED_HOSTS=localhost,127.0.0.1
CSRF_TRUSTED_ORIGINS=http://127.0.0.1
DEBUG=True
