
{% load static %}

<footer class="justify-end p-2 bg-white md:p-4 lg:p-4 dark:bg-gray-900">
    <div class="mx-auto max-w-screen-xl text-center">
        <a href="/" class="flex justify-center items-center text-2xl font-semibold text-gray-900 dark:text-white mb-2">
            <div class="flex items-center justify-center mr-1 w-9 h-9 bg-primary-700 hover:bg-primary-800 rounded">
                <span class="text-white text-3xl" style="font-family: 'Lemon', cursive;">R</span>
            </div>
            apid SaaS
        </a>
        <ul class="flex flex-wrap justify-center items-center mb-1 text-gray-900 dark:text-white">
            <li>
                <a href="{% url 'project_2__terms_of_service' %}" class="mr-2 hover:underline md:mr-4 ">Termes et Conditions</a>
            </li>
            <li>
                <a href="{% url 'project_2__privacy' %}" class="mr-2 hover:underline md:mr-4">Politique de Confidentialité</a>
            </li>
            <li>
                <a href="{% url 'project_2__contact' %}" class="mr-2 hover:underline md:mr-4">Contact</a>
            </li>
        </ul>
    </div>
</footer>
